<ion-view title="Products">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>


  <div class="bar bar-footer bar-calm">

    <label class="item item-input">
        <i class="icon ion-search placeholder-icon" ></i>
        <input type="search" style="width: 100%" ng-model="search.productname">
    </label>

  </div>

  <ion-content class="has-header">

    <ion-refresher
      pulling-text="Pull to refresh"
      on-refresh="productListRefresh()">
    </ion-refresher>

    <ion-list>
      <ion-item ng-repeat="product in productlist  | orderBy:'productname' | filter:search" href="#/app/playlists/:Features/:{{product.id}}" class="license_info">

        <h3>{{product.productname}}</h3>
        <br/><br/>
        <p>Total Licenses: {{product.totallicenses}}</p>
        <p>In use licenses: {{product.inuse}}</p>
        <div class="meterbar"><hr align="left" width="{{product.percentage}}%" style="visibility:{{product.bar_visibility}}"></div>
      </ion-item>
    </ion-list>
    <br/><br/>
  </ion-content>
</ion-view>