<ion-view title="{{headeritem.name}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-refresh" ng-click="refreshListing()"></button>
    </ion-nav-buttons>


    <div class="bar bar-footer no-border">

        <label class="item item-input no-border" width="60%">
            <span class="input-label">Search:</span>
            <input type="search" ng-model="search.name">
        </label>

        <label class="item item-input no-border">
            <span class="input-label">Limit:</span>
            <input type="number" name="input" min="1" max="100" ng-model="defaultlimit" ng-maxlength="3" required>
        </label>

    </div>


    <ion-content class="has-header">

        <ion-refresher pulling-text="<h6>Current collection time: {{collectiontime}}.<br/> Pull to update.</h6>" on-refresh="refreshListing();" refreshing-icon="none">
        </ion-refresher>




        <ion-list>
            <a id="top"> </a>
            <ion-item ng-repeat="item in listing | filter:search | orderBy:'name' | limitTo: defaultlimit " href="#/app/sublist/:{{category}}/:{{item.id}}" class="list-inset license_info" id="listing">

                <div ng-bind-html="item.html"></div>

            </ion-item>
        </ion-list>


    </ion-content>
</ion-view>