.spin {
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 1s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 1s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    animation-name: rotate; 
    animation-duration: 1s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.scrolly {
	-webkit-overflow-scrolling: touch;	
}


.no-border
{
	border: 0px none;
	background-image:none;
}

.menu-item
{
	border-color: #fff;
}
.inline
{
	display: inline;
}
.license_info
{
	line-height: 10pt;
	color:#191919;
	-webkit-animation: showFadeFX 0s; /* Chrome, Safari, Opera */
	animation:showFadeFX 0s ;
}
.license_info h3
{
	font-size: 12pt;

}
.license_info h4
{
	
	padding-right: 10px;

}
.license_info p
{
	font-size: 8pt;
    padding-right: 10px;
    margin-bottom: 5px
}
.license_info img
{
    vertical-align: top;
    margin-right: 10px;
}
.meterbar
{
	width:100%;
	background-color: rgb(227, 227, 227);
	border-radius: 9px;
	height: 9px;

}
.meterbar hr
{
	height:9px;
	background-color: rgb(174, 255, 0);
	border-style: none;
	border-radius: 5px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes expandtag {
    from {width: 0%;}
    to {width: 100%;}
}

/* Standard syntax */
@keyframes expandtag {
    from {width: 0%;}
    to {width: 100%;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes showFadeFX {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes showFadeFX {
    from {opacity: 0;}
    to {opacity: 1;}
}


