.menu-item
{
	border-color: #fff;
}
.inline
{
	display: inline;
}
.license_info
{
	line-height: 10pt;
	color:#191919;
	-webkit-animation: showFadeFX 0.1s; /* Chrome, Safari, Opera */
	animation:showFadeFX 0.4s ;
}
.license_info h3
{
	font-size: 12pt;

}
.license_info h4
{
	
	padding-right: 10px;

}
.license_info p
{
	font-size: 8pt;
    padding-right: 10px;
    margin-bottom: 5px
}

.meterbar
{
	width:100%;
	background-color: rgb(227, 227, 227);
	border-radius: 9px;
	height: 9px;
	-webkit-animation: expandtag 0.5s; /* Chrome, Safari, Opera */
	animation:expandtag 0.5s ;
}
.meterbar hr
{
	height:9px;
	background-color: rgb(174, 255, 0);
	border-style: none;
	border-radius: 5px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes expandtag {
    from {width: 0%;}
    to {width: 100%;}
}

/* Standard syntax */
@keyframes expandtag {
    from {width: 0%;}
    to {width: 100%;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes showFadeFX {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes showFadeFX {
    from {opacity: 0;}
    to {opacity: 1;}
}


